﻿
#optionaccounting {
    background-color:#b6ff00;
}

#optionaccounting > .col-4 {
    background-color: #ff6a00;
    margin: 2%;
}


#optionaccounting > .col-4 > a {
    height: 123px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-top:1.5%;
    margin-right:30%;
}

@media only screen and (max-width: 600px) {
    #optionaccounting > .col-4 > a {
        margin-left: 0.5%;
        margin-top: 1%;
        margin-right: 0.5%;
    }
}
