﻿<%@ Page Language="C#" MasterPageFile="_OutterPage.master" 
    Inherits="ASPFrontend.Default"
    AutoEventWireup="true" CodeBehind="Default.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainPlaceHolder" Runat="Server">
    <a href="RolesForm.aspx">Roles.aspx</a>
    <br />
    <a href="AccountingMainForm.aspx">AccountingMainForm.aspx</a>
</asp:Content>